body {
    font-family: 'Recursive', monospace;
    background: rgb(5, 109, 0);
    background-image: url(https://user-images.githubusercontent.com/39635734/82733390-d26ea100-9ce9-11ea-8c9e-e66e80e7d83b.gif);
    background-size: cover;
}

h1 {
    color:rgb(9,163,0) ;
    text-shadow: 2px 3px 12px rgb(9,163,0);
    
}

section {
    box-shadow: 10px 10px 68px -2px rgba(0,0,0,0.79);
    -webkit-box-shadow: 10px 10px 68px -2px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 68px -2px rgba(0,0,0,0.79);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    margin-top: 100px;
    background-color: black;
    padding: 15px;
    border-radius: 5%;
}

section h1 {
    font-size: 25px;
    display: block;
}

div {
    padding: 15px;
    margin: 15px;
    border: solid rgb(9,163,0);
    background-color: black;
    color: rgb(9,163,0);

}

img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 5px black;
}

header {
    background-image: url(https://st2.depositphotos.com/33058382/42398/v/600/depositphotos_423982832-stock-illustration-green-matrix-background-stream-binary.jpg);
    background-size: cover;

}

footer {
    box-shadow: 10px 10px 68px -2px rgba(0,0,0,0.79);
    -webkit-box-shadow: 10px 10px 68px -2px rgba(0,0,0,0.79);
    -moz-box-shadow: 10px 10px 68px -2px rgba(0,0,0,0.79);
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    margin-top: 50px;
    background-color: black;
    padding: 15px;
    border-radius: 5%;
}